@import '../global/vars.scss';
@import '../global/mixins.scss';

/*
  ____  _   _ _____ _____ ___  _   _ ____  
 | __ )| | | |_   _|_   _/ _ \| \ | / ___| 
 |  _ \| | | | | |   | || | | |  \| \___ \ 
 | |_) | |_| | | |   | || |_| | |\  |___) |
 |____/ \___/  |_|   |_| \___/|_| \_|____/ 
                                                                                                                                                                                                                                                                                    
*/

/* ==========================================================================
   Styling for Standard Buttons
   ========================================================================== 
*/

.btn, .button, button, {
  @include inline-block();
  min-width: 3em;
  @include margin;
  @include padding(1em, 1.25em, 1em, 1.25em);
  @include border-radius(0em);
  @include font($font: $font-2, $style: normal, $size: $font-1-size, $weight: 500);
  text-align: center;
  border: 0em;
  background: $color-primary;
  color: $white;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @include mq(sm) {
    width: 100%;

    &.btn-collapse {
      min-width: 3em !important;
      width: auto !important;
    }
  }

  &:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(-50%);
    background: darken($color-primary, 18%);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  
    @include mq(sm) {
      width: 60px;
    }
  }

  span {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
  }

  &:hover {
    box-shadow: none;
    
    &:after {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(12) translateZ(0);
    }
  }

  &:focus {
    background: darken($off-white, 20%);
    background-image: 0;
    outline: none;
  }

  &.btn-primary {
    background: $button-primary;
    color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: darken($button-primary, 25%);
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(1.645,1.045,1,1);
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-secondary {
    background: $button-secondary;
    color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: darken($button-secondary, 15%);
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-red {
    background: $button-red;
    color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: darken($button-red, 25%);
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-green {
    background: $green-potion;
    color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: darken($green-potion, 15%);
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      &:after {
        opacity: .8;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-gray {
    background: $light-gray;
    color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: darken($light-gray, 14%);
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-blue {
    background: $button-blue;
    color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: darken($button-blue, 18%);
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-orange {
    background: $button-orange;
    color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: darken($button-orange, 13%);
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-purple {
    background: $button-purple;
    color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: darken($button-purple, 12%);
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-dark {
    background: $button-dark;
    color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: darken($button-dark, 11%);
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }
  
  &.btn-empty {
    background: transparent;
    color: $white;
    border: 1px solid $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: darken($button-dark, 11%);
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  // Grayed out button state

  &:disabled,
  &.js-disabled,
  &.btn-disabled {
    cursor: default;
    background: $button-gray !important;
    color: $off-white;
    pointer-events: none;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 0px;
      width: 0px;
      border-radius: 0%;
      opacity: 0;
      background: $button-gray !important;
      transform: none;
      transition: none;
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      &:after {
        opacity: 0;
        transform-origin: none;
        transform: none;
      }
    }
  }

  // Button that spans/fills the width of the container

  &.btn-full {
    display: block;
    width: 100%;
    text-align: center;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 30px;
      width: 140px;
      border-radius: 50%;
      opacity: 0;
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-small {
    min-width: 0;
    @include padding(12px 17px 12px 17px);
    @include font($font: $font-1, $style: normal, $size: ($font-1-size * .85), $weight: normal);

  }

  // Creates a miniature size button
  &.btn-mini {
    min-width: 0;
    @include padding(10px 15px 10px 15px);
    @include font($font: $font-1, $style: normal, $size: ($font-1-size * .75), $weight: normal);
  }
}

a.btn {
  text-decoration: none;
  @include padding(1em, 1.25em, 1em, 1.25em);
}



/* ==========================================================================
   Styling for Outlined Buttons
   ========================================================================== 
*/

.btn-outline {
  @include inline-block();
  min-width: 3em;
  @include margin;
  @include padding(1em, 1.25em, 1em, 1.25em);
  @include border-radius(0em);
  @include font($font: $font-2, $style: normal, $size: $font-1-size, $weight: 500);
  text-align: center;
  border: 0em;
  background: $white;
  border: 2px solid $color-primary;
  color: $color-primary;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.645,0.045,0.355,1);
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  &:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(-50%);
    background: $color-primary;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  
    @include mq(sm) {
      width: 60px;
    }
  }

  span {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
  }

  &:hover {
    box-shadow: none;
    
    &:after {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(12) translateZ(0);
    }
  }

  &:focus {
    background: darken($off-white, 20%);
    background-image: 0;
    outline: none;
  }

  &.btn-primary {
    border: 2px solid $color-primary;
    color: $color-primary;
    background-color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      opacity: 0;
      background-color: $color-primary;
      color: $white;
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(1.645,1.045,1,1);
  
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      color: $white;

      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-secondary {
    border: 2px solid $color-secondary;
    color: $color-secondary;
    background-color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: $color-secondary;
      color: $white;
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
    
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      color: $white;

      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-red {
    border: 2px solid $button-red;
    color: $button-red;
    background-color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      opacity: 0;
      background: $button-red;
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
    
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      color: $white;

      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-green {
    border: 2px solid $green-potion;
    color: $green-potion;
    background-color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: $green-potion;
      color: $white;
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
    
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      color: $white;

      &:after {
        opacity: .8;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-gray {
    border: 2px solid $light-gray;
    color: $light-gray;
    background-color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: $light-gray;
      color: $white;
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
    
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      color: $white;

      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-blue {
    border: 2px solid $button-blue;
    color: $button-blue;
    background-color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: $button-blue;
      color: $white;
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
    
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      color: $white;

      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-orange {
    border: 2px solid $button-orange;
    color: $button-orange;
    background-color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: $button-orange;
      color: $white;
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
    
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      color: $white;

      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-purple {
    border: 2px solid $button-purple;
    color: $button-purple;
    background-color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: $button-purple;
      color: $white;
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
    
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      color: $white;

      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-dark {
    border: 2px solid $button-dark;
    color: $button-dark;
    background-color: $white;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      opacity: 0;
      background: $button-dark;
      color: $white;
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
    
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      color: $white;

      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  // Button that spans/fills the width of the container

  &.btn-full {
    display: block;
    width: 100%;
    text-align: center;

    &:after {
      content:'';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin: 0 auto;
      height: 30px;
      width: 140px;
      border-radius: 50%;
      opacity: 0;
      transform: translateY(-50%);
      transition: all 0.25s cubic-bezier(0.645,0.045,1,1);
    
      @include mq(sm) {
        width: 60px;
      }
    }

    &:hover {
      color: $white;

      &:after {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(12) translateZ(0);
      }
    }
  }

  &.btn-small {
    min-width: 0;
    @include padding(12px 17px 12px 17px);
    @include font($font: $font-1, $style: normal, $size: ($font-1-size * .85), $weight: normal);

  }

  // Creates a miniature size button
  &.btn-mini {
    min-width: 0;
    @include padding(10px 15px 10px 15px);
    @include font($font: $font-1, $style: normal, $size: ($font-1-size * .75), $weight: normal);
  }
}


/* ==========================================================================
   Styling for Button Dropdowns
   ========================================================================== 
*/

.btn-dropdown {
  position: relative;
  overflow: visible;
  display: inline-block;

  @include mq(sm) {
    margin-top: 5px;
  }

  ul {
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    display: none;
    position: absolute;
    background: $white;
    top: -2px;
    left: -2px;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    min-width: 102%;

    &.btn-dropdown-top {
      bottom: 115%;
      top: auto
      ;    
    }

    &.btn-dropdown-bottom {
      top: 115%;
    }

    &.btn-dropdown-over {
      top: 20%;
    }

    li {
      padding: 7px 0px 7px 10px;
      margin: 0px;
      display: block;

      &:first-child {
        padding: 11px 0px 7px 10px;
      }
    
      &:last-child {
        padding: 7px 0px 11px 10px;
      }   

      a {
        color: $dark-gray !important;
        @include font($font: $font-1, $style: normal, $size: ($font-1-size * .95), $weight: 500);
      }

      &:hover {
        background-color: $light-gray;

        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  } 
}

.btn-dropdown-arrow {
    width: 16px;
    margin-top: -2px;
    margin-left: 9px;
}

.btn-dropdown ul button:hover, .button-dropdown ul button:focus {
    background-color: green;
    color: white;
}

.show-dropdown {
  display: block !important;
}

.hide-dropdown {
  display: none !important;
}
