@import '../global/vars.scss';
@import '../global/mixins.scss';

// @if $use-buttons == true{

/*
  ____  _   _ ____  _____ ____  _   _ _____ ____   ___  ____  
 / ___|| | | |  _ \| ____|  _ \| | | | ____|  _ \ / _ \/ ___| 
 \___ \| | | | |_) |  _| | |_) | |_| |  _| | |_) | | | \___ \ 
  ___) | |_| |  __/| |___|  _ <|  _  | |___|  _ <| |_| |___) |
 |____/ \___/|_|   |_____|_| \_\_| |_|_____|_| \_\\___/|____/ 
                                                                                                                                                                                                                                                                                                                                                
*/

h1, h2, h3, h4, h5 ,h6 {
  text-transform: initial;
}

.superhero {
  min-height: 300px;
  padding: 20px;
  padding: 2.5em 0em 1.75em 4em;

  h2 {
      color: $white;
      font-size: 4rem;
      font-family: $font-2;
      font-weight: 200;
      padding: 0em;

      @include mq(md) {
        font-size: 3rem;
        line-height: 2.8rem; 
      }

      @include mq(sm) {
        font-size: 1.7rem;
        line-height: 2.2rem; 
      }
    }

    h4 {
      color: $white;
      font-size: 1rem;
      margin-left: .25em;

      @include mq(sm) {
        line-height: 1.4rem;
        font-size: .95rem;
      }
    }

    a.btn {
      margin-bottom: .55em;
      margin-left: .25em;
    }

  div#version {
    color: darken($color-primary, 22%);
  }  

  @include mq(sm) {
    padding: 2em 2em 1.5em 2em;
  }

  &.short {
    min-height: 200px;
  }

  &.normal {
    min-height: 350px;
  }

  &.tall {
    min-height: 500px;
  }
}
